section
  section
    h2 #[code this] Keyword
  section
    p.
      The #[strong this] keyword, in ES5, is assigned to the context of each function. In strict mode, it would return
      undefined.
    p.fragment.
      This was handled in ES5 by aliasing the #[strong this] variable outside the context of the interior function.
    pre.fragment.
      function Name(first, middle, last) {
        const self = this;
        self.nameString = `${first} ${middle} ${last}`;
        setTimeout(function() {
          console.log(`Hello, ${self.nameString}`); // Hello, Evan M. Williams
        }, 250);
      }
  section
    p.
      Arrow functions use the contextual `this` of its parent function.
    pre.fragment.
      function Name(first, middle, last) {
        this.nameString = `${first} ${middle} ${last}`;
        setTimeout(() => console.log(`Hello, ${this.nameString}`), 100); // Hello, Evan M. Williams
        setTimeout(function() {
          console.log(`Hello, ${this.nameString}`); // Hello, undefined
        }, 250);
      }